// Base image path (useful when changing environments or folder structure)
// Note: path is relative to compiled css
$imagePath: '../images/';

// Breakpoints
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1375px;

